{% extends "layout.html" %}

{% block header %} 
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}"> 
    
{% endblock %}

{% block content %}

    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="dropzone" id="my-dropzone" multiple >
    </form>

    <div class="text-center" style="margin-top:10px">
        <button id="submit-all" class="btn btn-default btn-sm">Upload Files!</button>
        <button id="calculate" class="btn btn-default btn-sm">Calculate!</button>
    </div>

    <!-- <button id="fund-file" class="btn btn-default btn-sm">View Files</button> -->
    <div id="confidence"></div>
    <div id="result"></div>

    <div class="modal"><!-- Place at bottom of page --></div>
{% endblock %}

{% block footer %}
{{ super() }}

    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}